<%# <div class="card fixed-top d-flex flex-row justify-content-between"> %>
<div class="header text-start mb-4">
  <span>
    <%= image_tag "fitbud_logo_1.png", alt: "Fitbud", width: "160", height: "48" %>
  </span>
</div>
