<%# <div class="card fixed-top d-flex flex-row justify-content-between"> %>
<div class="header text-center mb-4">
  <span>
    <%= image_tag "fitbud_logo.png", alt: "Fitbud", width: "156", height: "78" %>
  </span>
</div>
