<%# <div class="card fixed-top d-flex flex-row justify-content-between"> %>
<div class="header fixed-top d-flex align-items-center justify-content-between container">
      <span style="color:#66FCF1">
        Fitbud
      </span>
      <span style="color:#66FCF1">
        Home
      </span>
      <span style="opacity: 0">
        Home
      </span>

</div>
