<%# <div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-bottom"> %>
  <%# <div class="container-fluid"> %>

    <% if user_signed_in? %>
      <%# render 4 button bars %>
      <%= render 'shared/user_navbar' %>
    <% else %>
      <%# visitor bar %>
      <%= render 'shared/visitor_navbar' %>
    <% end %>

  <%# </div> %>
<%# </div> %>
