<div class="container-fluid">
  <div class="navbar-user d-flex justify-content-evenly align-items-center fixed-bottom py-2">
    <div class="navbar_icon">
      <%= link_to raw('<i class="fa-solid fa-house fa-2xl"></i>'), root_path %>
    </div>

    <div class="navbar_icon">
      <i class="fa-solid fa-comment fa-2xl"></i>
    </div>

    <div class="navbar_icon">
      <%= link_to raw('<i class="fa-solid fa-user fa-2xl"></i>'), profile_path %>
    </div>

    <div class="navbar_icon">
      <i class="fa-solid fa-bars fa-2xl"></i>
    </div>
  </div>
</div>
