<div class="fixed-bottom">
  <div class="navbar-user d-flex justify-content-end align-items-center py-2">

    <div class='nav-visitor px-3 mx-3 rounded'>
      <%= link_to "Sign Up", new_user_registration_path, class: "text-decoration-none text-reset" %>
    </div>

    <div class='nav-visitor px-3 me-4 rounded'>
      <%= link_to "Log In", new_user_session_path, class: "text-decoration-none text-reset" %>
    </div>

  </div>
</div>
