<div class="banner d-flex justify-content-center align-items-end my-4">
    <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary mb-3" %>
</div>

<%# <div > %>
<%# <img src="/app/assets/images/banner.jpg" alt=""> %>
<%# </div> %>

<div class="banner-workout-based-on-profile justify-content-center align-items-end my-2"></div>
<div class="banner-chat-ai justify-content-center align-items-end my-2"></div>
<div class="banner-encourage justify-content-center align-items-end my-2"></div>
