<div class="container" data-controller="workout" data-workout-alarm-value="<%= asset_path("alarm.mp3")%>">

  <!-- Exercise -->
  <div data-workout-target="exercise">
    <div class="d-flex align-items-center justify-content-between">
      <%= link_to raw('<i class="fa-solid fa-arrow-left-long col-1"></i>'), plan_path(@exercise_plan.plan) %>
      <h1 class="my-auto text-center col-0"><%= @exercise_plan.exercise.title %></h1>
      <p class="fa-solid fa-arrow-left-long col-1 m-0 opacity-0"></p>
    </div>
    <p class="border border-dark circle-large mt-4 mb-2 mx-auto" data-workout-target="time">00:00</p>
    <p class="text-center mb-0">Timer</p>
    <div class="d-flex justify-content-between my-4 mx-1">
      <button type="button" class="btn btn-primary col-5">Start</button>
      <button type="button" class="btn btn-primary col-5 lh-sm" data-action="click->workout#updateSet">Complete</button>
    </div>
  </div>

  <%= render "exercise_plans/exercise_helper", exercise_plan: @exercise_plan %>
</div>
