<div class="container">
  <h1 class="mt-5"><%= @exercise_plan.exercise.title %></h1>
  <p>Recommended weight: 2-5kg</p>

  <div class="d-flex justify-content-between align-items-center mx-5 my-4">
    <div>
      <p class="border border-dark circle-small p-3 m-auto"><%= @exercise_plan.repetitions %></p>
      <p>Reps</p>
    </div>
    <div>
      <p class="border border-dark circle-large p-3 m-auto">2:00</p>
      <p>Rest</p>
    </div>
    <div>
      <p class="border border-dark circle-small p-3 m-auto">1/<%= @exercise_plan.set %></p>
      <p>Sets</p>
    </div>
  </div>
</div>
