<div class="container" data-controller="countdown">


  <%= render "exercise_plans/exercise", exercise_plan: @exercise_plan %>


  <p class="mb-2">Enter your set details: </p>
  <%= render "exercise_plans/tracker", exercise_plan: @exercise_plan, tracker: @tracker, disabled_tracker: @disabled_tracker %>


  <% @exercise_plan.trackers.each_with_index do |tracker, index| %>
    <%= render "exercise_plans/set", tracker: tracker, index: index %>
  <% end %>


  <div class="video-container mb-3 rounded">
    <iframe class="video" src="https://www.youtube.com/embed/dQw4w9WgXcQ?si=V0zo0dR5x2hAXNTJ&amp;controls=0"
    title="YouTube video player" frameborder="0" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
    </iframe>
  </div>
  <div class="bg-secondary" style="height:240px;">
    <p class="text-center">
      Exercise description
    </p>
  </div>
</div>
