.accordion-button {
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), asset_url('home_banner.png');
  background-size: cover;
  background-position: center;
  height: 200px;
}

.accordion-card {
  background-color: #d9dfda;
  }

.border-black {
  border: 1px solid #212A31;
}
