.banner {
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), asset_url('banner.jpg');
  background-size: cover;
  background-position: center;
  height: 240px;
  border-radius: 16px;
  box-shadow: 4px 4px #C5C6C7;
  // display: flex;
  // justify-content: center;
  // align-items: center;
}

.banner-chat-ai {
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), asset_url('chat_ai.jpg');
  background-size: cover;
  background-position: center;
  height: 200px;
  border-radius: 16px;
  box-shadow: 4px 4px #C5C6C7;
}

.banner-workout-based-on-profile {
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), asset_url('workout_based_on_profile.jpg');
  background-size: cover;
  background-position: right;
  height: 200px;
  border-radius: 16px;
  box-shadow: 4px 4px #C5C6C7;

}

.banner-encourage {
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), asset_url('encourage.jpg');
  background-size: cover;
  background-position: center;
  height: 200px;
  border-radius: 16px;
  box-shadow: 4px 4px #C5C6C7;
}
