.card-user {
  overflow: hidden;
  height: 120px;
  // background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 16px;


  img {
    height: 100%;
    width: 100px;
    object-fit: cover;
  }
}

.card {
border-radius: 16px;
background-color: #d9dfda;
}

.card-message {
  word-wrap: break-word; /* Ensures long words will break */
  white-space: normal;   /* Ensures text will wrap inside the container */
  overflow-wrap: break-word; /* A modern alternative for word wrapping */
}
