.bot-chat-wrapper {
  // height: 640px;
  // width: 100%;
  display: flex;
  flex-direction: column;
  height:75vh;
  overflow-y: auto
}

.bot-message {
  background-color: #1F2833;
  color: #66FCF1;
  // margin-right: 64px;
}

.user-message {
  background-color: #0B0C10;
  color: #66FCF1;
  // margin-left: 64px;
}

.chat-box {
  // height: 100%;
  // overflow-y: scroll;
  position: fixed;
  bottom: 80px;
  // width: 100%;
}
