.circle-small {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #d9dfda;
}

.circle-large {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #d9dfda;
}
