.circle-small {
  height: 56px;
  width: 56px;
  border-radius: 50%;
  font-size: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.circle-large {
  height: 96px;
  width: 96px;
  border-radius: 50%;
  font-size: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
