.navbar-lewagon {
  // justify-content: space-between;
  background: white;
  // position: fixed;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.height{
  height: 10px;
}

.dropdown-menu[data-bs-popper]{
  right: 0;
  left: unset;
}


.navbar-user {
  background: #45A29E;
  height: 56px;
  // position: absolute;
}

.log-out-home {
  background: #66FCF1;
  bottom: 0px;
  right: 0px;
  padding: 4px 16px;
  // margin: 2px 0;
  transition: 0.3s;
  // transform: translateY(0);
  transform: translate(100%, -200%);

  a {
    text-decoration: none;
  }
}

.log-out-home.show {
  transform: translate(-10%, -130%);
  // transform: translate(100%, -200%);

}
