.navbar-lewagon {
  // justify-content: space-between;
  background: white;
  // position: fixed;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.height{
  height: 10px;
}

.dropdown-menu[data-bs-popper]{
  right: 0;
  left: unset;
}


.navbar-user {
  background: #2E3944;
  height: 56px;
  // position: absolute;

}

.icon {
  // color: #748d92;
  color: #d3d9d4;
}

.log-out-home {
  background: #214E66;
  bottom: 0px;
  right: 0px;
  padding: 8px 16px;
  // margin: 2px 0;
  transition: 0.3s;
  // transform: translateY(0);
  transform: translate(100%, -200%);
  // border-radius: 8px;

  a {
    text-decoration: none;
    color: #212a31;
  }
}

.log-out-home.show {
  transform: translate(-15%, -100%);
  // transform: translate(100%, -200%);
}

.nav-visitor {
  background: #748D92;
  color: #f2f5f1;
  border-radius: 8px;
  height: 32px;
  align-content: center;
  font-weight: bold;
}
